
body {

    color: white;
}
/*NAVBAR*/

/* Logo styles */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Ganti warna background navbar */
.navbar {
  background-color: #4e73df !important; /* biru lembut */
}

/* Ganti warna teks link navbar */
.navbar .nav-link,
.navbar-brand {
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #d1d3e2 !important;
}


