
body {

    color: white;
}
/*NAVBAR*/

/* Logo styles */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}



.navbar .nav-link,
.navbar-brand {
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #d1d3e2 !important;
}


